

<%- include("template/head",{tituloWeb: "404" })%>
    <div class="text-center">
        <h1><%= titulo %></h1>
        <h2><%= descripcion %></h2>
        <img src="img/404.gif" alt="gato" id="gif" class="rounded-circle">
    </div>
<%- include("template/footer")%>
