<%- include("template/head",{tituloWeb: "Biografia" })%>    <div class="text-center">
        <h1><%= titulo %></h1>
    <div class="container">
            <p><i>Sauron llego un dia sabado, con 1 mes y algo de vida, si lo se bastante pequeño.
                No me gusto al principio , no era muy simpatico la verdad, pero con el pasar de los dias
            todo cambio...</i>
            </p>
        
        </div>
    </div>
<%- include("template/footer")%>  
