<%- include("template/head",{tituloWeb: "Biografia" })%>  
  <div class="text-center">
        <h1><%= titulo %></h1>
        <div class="flex-container">
            <div>
                <p><i>Sauron llego un dia sabado, con 1 mes y algo de vida, si lo se bastante pequeño.
                    No me gusto al principio , no era muy simpatico la verdad, pero con el pasar de los dias
                todo cambio...</i>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis ullam culpa laboriosam architecto dignissimos distinctio amet, dolorum provident sint consequuntur suscipit corporis iure a eum, aspernatur aperiam quasi, nostrum laudantium.
                </p>
            </div>
            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat temporibus adipisci animi quas labore distinctio autem saepe non omnis est ab vero eligendi, quae ipsum voluptate consequatur porro perspiciatis? Minima.</div>
            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam dolore quaerat rerum nulla voluptate ab, libero est ducimus ipsam placeat vel, minima quis iusto nihil reiciendis exercitationem deleniti temporibus! A.</div>
         
        
        </div>
    </div>
<%- include("template/footer")%>  
