<%- include("template/head",{tituloWeb: "Inicio" })%>
<div class="container text-center">
    <h1><%= titutilo %></h1>
    <img src="/img/sauron.jpg" alt="sauron" id="sauron" class="rounded-circle">
    <img src="/img/sa.jpg" alt="sauron" id="sa" class="rounded-circle">
</div>
<%- include("template/footer")%>
