<%- include("template/head",{tituloWeb: "Inicio" })%>
<div id="header"></div>
<!-- <div class="container text-center">
    <h1><%= titutilo %></h1>
    <div class="container card" style="width: 25rem;">
        <img src="/img/sa.JPG" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text text-dark">El nuevo integrante de la familia</p>
        </div>
      </div>
</div> -->
<section>
  <h1 class="text-center"><%= titutilo %></h1>
  <p>El es <strong>Sauron</strong> a.k.a Sauroncito, a.k.a el señor oscuro , llego a nosotros el dia <i> 4 de diciembre </i>con una edad cercana
    a 2 meses, en un principio no me simpatizo mucho , no lo negare pero con pasar del los dias todo cambio.
  </p>
  <br>
  <p>Origen de su nombre: Como espero que sepan Sauron es el antagonista de la trilogia de Tolkien el señor de los anillos, era poderoso pero malandra
    , en nuestro caso solo queriamos que fuera poderoso.
   <br>
    las otras opciones que teniamos para nombre eran:
    <ul>
      <li>Floki</li>
      <li>Frodo</li>
    </ul>
    En realidad mi pareja dijo ambos y yo solo adheri a su idea ambos son nombres de series o peliculas que nos gustan a los 2.
  </p>
  <div class="fonto">
    <h3 class="text-center">¿Las cosas cambiaron?</h3>
    <i>Es super diferente tener una mascota perro, gato en un patio a tener una en departamento.En estos dias al convivir casi en su totalidad con el, limpiarle
      la caca, su pipi y llegar del trabajo abrir la puerta y que el primero en recibirnos sea una bolita de pelos de unos 30 centimetros moviendo su cola de izquierda
      a derecha de forma constante y con sus orejitas  levantadas de forma curiosa, hace que el lazo humano-puerco sea mayor y se consolide con mas rapidez.
    </i>
  </div>
</section>

<%- include("template/footer")%>
