<%- include("template/head",{tituloWeb: "Inicio" })%>
<div class="container text-center">
    <h1><%= titutilo %></h1>
    <div class="container card" style="width: 25rem;">
        <img src="/img/sa.JPG" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text text-dark">El nuevo integrante de la familia</p>
        </div>
      </div>
</div>
<%- include("template/footer")%>
