
<%- include("template/head",{tituloWeb: "Info" })%>
<div class="text-center">
    <h1><%= titulo %></h1>
    <h2><%= info %> </h2>
    <img src="/img/sa2.JPG" alt="sauron" id="sa2" class="rounded-circle shadow-lg p-3 mb-5 bg-white rounded">
    
</div>

<%- include("template/footer")%>