
<%- include("template/head",{tituloWeb: "Info" })%>
<div class="text-center">
    <h1><%= titulo %></h1>
    <img src="/img/cris.png" alt="Cris">
    <img src="/img/sa2.jpg" alt="sauron" id="sa2">
</div>

<%- include("template/footer")%>